spring:
  application:
    name: User Service
  profiles:
    active: dev
  threads:
    virtual:
      enabled: true
server:
  servlet:
    context-path: "/user-service/"
  error:
    include-stacktrace: on_param
  tomcat:
    threads:
      max: 20
